[2012-09-24 07:56] ghost opened #1 "REPLACE"
[code]

to replace you must also specify the column
REPLACE index (columns) VALUES (values)
            foreach ($this->set as $column => $value)
            {
                // MVA support
                if (is_array($value))
                {
                    $query_sub[] = $this->quoteIdentifier($column).' = ('.implode(', ', $this->queryArr($value)).')';
                }
                e

[2012-09-24 21:03] #1 closed, assigned to nobody

[2012-12-06 10:13] feedbee opened #2 "Add Queue to bootstrap"
Add new Queue class autoloadning to bootstrap.php ( https://github.com/FoolCode/SphinxQL-Query-Builder/blob/ ):

[code]

[2012-12-06 14:08] #2 closed, assigned to nobody

[2012-12-07 07:13] feedbee opened #3 "Connection failure processing"
I found some problems in your Connection class (https://github.com/FoolCode/SphinxQL-Query-Builder/blob/master/classes/Foolz/Sphinxql/Connection.php):

1) Exception thrown on line 142 `throw new SphinxqlConnectionException();` don't bring any information about the error occured while it should get `static::getConnection()->connect_error` and `static::getConnection()->connect_errorno` as arguments.

[2012-12-11 09:47] feedbee opened #5 "PHP errors in current master"
Fix PHP errors:
1) broken fields ($this->conn to $this->getConnection())
2) make some methods and it's calls static (to fix $this in static context error)
3) typo: $this->queryArr($value) to $this->quoteArr($value)

[Diff with all this errors fixed](http://pastie.org/5510141)

[2012-12-16 11:11] #3 closed, assigned to nobody

[2012-12-18 07:55] feedbee opened #6 "Insert or Update MVA attributes"
To insert/update MVA attributes we need to pass an array as a value to `Sphinxql::values`. This values escaped through `Connection::quote($value)` and passed array() becomes string 'array'. To get insert/update MVA attributes possible next lines of code need to be added to `Connection::quote($value)` as a last case (after line 367):

[code]

[2013-01-13 05:17] #5 closed, assigned to nobody

[2013-01-13 05:17] #6 closed, assigned to nobody

[2013-01-24 13:19] feedbee opened #7 "Enqueue some kinds of queries"
It's currently impossible to enqueue some queries that returns result immediately. Meta and other SHOW-functions, describe, callSnippets and so on.

Main part of this request is `SHOW META()` call. It's normal and important case to make folowing queue (batch):
1) main search query itself with `LIMIT`;
2) `show meta` to get overall results found;
3, 4, ...) several `GROUP BY` queries for facets.

[2013-01-24 13:43] feedbee opened #8 "PHP-Doc-block for virtual methods"
Please, add PHP-DOC-block to support IDEs' capabilities to show of auto completion for this virtual methods (called via `__call`):

[code]

[2013-01-24 19:45] #8 closed, assigned to nobody

[2014-01-26 22:41] StevenFlecha opened #10 "allowing the use of grouping with halfescape"
In my opinion you should not escape '(' and ')' when using the half escape.
Using the ( ) operators are pretty vital when you're also using | operator for example.

[2014-03-04 18:37] choxnox opened #11 "Non-column query impossible to execute?"
It seems that with current setup it's impossible to execute queries which do not involve column names such as this:

`SELECT * FROM some_index WHERE MATCH("my-query-goes-here");`

Any sign if this is going to be included anytime soon?

[2014-04-23 23:36] #10 closed, assigned to nobody

[2014-04-24 10:33] #11 closed, assigned to nobody

[2014-04-24 14:47] #7 closed, assigned to nobody

[2014-05-05 07:35] yunasc opened #13 "Request for MATCH_ANY mode"
Please, implement ability to do MATCH_ANY mode without doing myself work like:

if ($search_type == 'or')
    $descrsearchstr = '"' . $descrsearchstr . '"/1';

if ($search_type == 'exact')
    $descrsearchstr = '^' . $descrsearchstr . '$';

Proposed syntax:
->match_any(FIELD, DATA)

Resulting query:
MATCH('@field ( data_first_word | data_second_word | data_third_word | ... data_nth_word)') OPTION

[2014-05-17 03:03] anton-kasperovich opened #14 "quorum matching operator"
How i can build match query with quorum operator?

I'l try:

[code]

Compiled query looks like that:

[code]

and there is no results "Empty set (0.00 sec)"

I need to reproduce this query on php side... :

[code]

[2014-05-17 07:56] #13 closed, assigned to nobody

[2014-06-26 12:58] remrem opened #18 "Quote in option"
Hi,
first, sorry for my english :/

I've got an issue with `$sq->option($name, $value)`, this function add quote for $value :

[code]

return :

[code]

This query fail :/
I edit `src/SphinxQL.php` and replace :

[code]

by

[code]

the new query return :

[code]

and work.

It's a real bug or I just make a mistake ?

[2014-06-26 15:58] #18 closed, assigned to nobody

[2014-06-26 16:13] #14 closed, assigned to nobody

[2014-07-09 23:13] DmitryVarennikov opened #19 "Add mysqli extension dependency to the composer.json"

[2014-07-29 15:45] #19 closed, assigned to nobody

[2014-09-02 13:50] t1gor opened #22 "502 Proxy Error"
Hello, Guys.

I am trying to get the SphinxQL working in my project and I have a tricky error. Somehow when I ran `execute()` on a query, I get proxy error.

Nevertheless, the command line Sphinx works and is listening on the specified port. I have used your test [sphinx.conf](https://github.com/FoolCode/SphinxQL-Query-Builder/blob/master/tests/sphinx.conf) to set everything up.

What is strange i

[2014-09-02 16:37] #22 closed, assigned to nobody

[2014-09-29 10:37] incrize opened #26 "NOT IN condition"
Hi, what about NOT IN condition?

[code]

[2014-10-05 17:44] #26 closed, assigned to nobody

[2014-10-07 13:31] t1gor opened #30 "->delete()"
According to [your docucmentation](https://github.com/FoolCode/SphinxQL-Query-Builder#delete), delete should return the number of removed rows, but it does not.

According to Sphinx documentation (http://sphinxsearch.com/docs/archives/2.2.1/sphinxql-delete.html), the number of removed rows is only returned since 2.2.1.

I am using 2.0.4 and when I do delete query via the console,  I get the messag

[2014-10-07 18:26] #30 closed, assigned to nobody

[2014-10-07 19:08] alpha0010 opened #31 "halfEscapeMatch() regex purpose?"
What are the regexes <a href="../blob/master/src/SphinxQL.php#L1372-L1373">here</a> supposed to do?  For me, the single rule `'/(\S+)(?:\s+-\s+|-)(\S+)/' => '\1\-\2'` seems more useful (preventing accidental negation in natural language).

[2014-11-05 13:04] t1gor opened #33 "Multi-byte support"
Encountered an issue recently:

When having your application in several languages, and searching, for example for some French word with non-standard symbols, like `stärkergradig`, the SphinxQL fails to escape it correctly. Simply adding

[code]

Solves the issue.

Not sure if this is application related or lib related, but will submit a pull request shortly.
Hope this helps.

[2014-11-07 19:36] #33 closed, assigned to nobody

[2014-11-11 07:45] DonRai opened #36 "Set weight to fields"
Is there a function to implement SetFieldWeights in sphinxapi.php?

[2014-11-11 13:12] #36 closed, assigned to nobody

[2014-11-12 01:57] #31 closed, assigned to nobody

[2014-12-25 09:10] reimax opened #38 "where operator not work?"
i use code:

$query = SphinxQL::create($conn)->select('*')
            ->from('index')
            ->match('field_value', $string)
            ->where('document_id', '!=', $filter)
            ->offset($start)
            ->limit($limit)
            ;

in $filter i try delete element by document_id. but in the search results still displayed filter element. i get in result array:

[0] => Array

[2014-12-25 10:14] #38 closed, assigned to nobody

[2015-01-12 15:29] t1gor opened #39 "Iterating search results?"
Hi, guys.

I just actually have a question - is there a way to iterate the SphinxQL `execute()` results in a way you could do with MySQL PDO statement? The idea is to use a common ResultSet interface for MySQL and SphinxQL results in our app.

Thanks,
Igor

[2015-01-12 21:54] oohnoitz commented on #39
Since `execute()` returns the results in an array, you should be able to use the [`ArrayIterator`](https://php.net/manual/en/class.arrayiterator.php) class and iterate the results with it. Another option would be to write a `ResultSetIterator` of some sort, mirror the MySQL PDO methods, and return it in the `Connection` class when executing the query, but that would most likely break existing code

[2015-01-13 09:27] t1gor commented on #39
@oohnoitz, thanks, that's precisely what I did (with ArrayIterator), but it is not as efficient as it might be, as I think as I just init it with the results array.

The idea was to bring the SpinxSearch results compatible with PDO, not the PDO with SphinxSearch. I'll try to submit a pull request with the results of my exercises :) Please do not close the issue.

[2015-01-13 11:31] oohnoitz commented on #39
@t1gor, [`Elastica\ResultSet`](https://github.com/ruflin/Elastica/blob/master/lib/Elastica/ResultSet.php) might serve as a good example for you to use.

[2015-01-15 16:47] t1gor commented on #39
@oohnoitz, thanks. That's a good one. I will share my results when done.

[2015-01-23 10:14] jaakkytt opened #41 "connect with user, pass, dbname"
Currently `Connection::connect` sets null-s to user, pass, dbname params on `mysqli::real_connect` (https://github.com/FoolCode/SphinxQL-Query-Builder/blob/master/src/Connection.php#L176) which makes an unnecessary restriction to what can be connected to. Suggest making those parameters available as optional while defaulting to null.

[2015-01-23 10:46] oohnoitz commented on #41
Sphinx does not require nor use those parameters to establish a connection.
http://sphinxsearch.com/docs/current.html#conf-listen

[2015-01-23 11:00] #41 closed

[2015-01-27 22:28] versh23 opened #42 "cyrillic words in match()"
hello. I can`t use cyrillic symbols in query, because  mysqli connection not in UTF8 encoding;

i created also question here http://stackoverflow.com/questions/28178379/mysqli-cant-set-encoding

[2015-01-27 22:29] woxxy commented on #42
Yeah, we already saw the question on stackoverflow and are investigating. We supposed it comes down to PHP or MySQL client configuration.

[2015-01-28 01:00] oohnoitz commented on #42
@versh23 Could you run the following code?

[code]

[2015-01-28 05:32] versh23 commented on #42
@oohnoitz , its return empty string.
i use ubuntu 14.04 with latest php version 5.5.9;

in mysql console match() work fine. Also i tried use a doctrine dbal connection with pdo_mysql and it work fine too.
Its a problem with mysqli configuration? but i can not find anything cofiguration for default encoding

[2015-01-28 17:59] oohnoitz commented on #42
Since that code is returning an empty string, it does appear that the MySQLi connection has no problem loading/setting the character set to `UTF8` and that the `$conn->set_charset('utf8');` method executed successfully. I really don't know what would be causing your issue.

[2015-01-29 05:38] versh23 commented on #42
ok. I see in master branch a Connection Interface. Can i create MysqlConnection implementing interface and make PR ?

[2015-01-29 05:43] oohnoitz commented on #42
Yes, feel free to do so.

[2015-01-29 14:58] versh23 commented on #42
@44

[2015-01-29 16:25] #42 closed

[2015-02-06 15:46] t1gor commented on #39
Seems like it is already merged ...
https://github.com/versh23/SphinxQL-Query-Builder/commit/7e2a0d9ca2426630ce13462a59404695590b96be

right?

[2015-02-06 17:02] versh23 commented on #39
@t1gor  yes

[2015-02-06 17:16] oohnoitz commented on #39
@t1gor there is still a need for a `ResultSet` interface and class though.

[2015-02-07 17:33] woxxy commented on #39
I'm working on this in the `resultset` branch, but it will take some time to merge in master since the API must be agreed on.

https://github.com/FoolCode/SphinxQL-Query-Builder/tree/resultset/src/Drivers

[2015-02-09 08:40] t1gor commented on #39
:+1: very cool. Let me see if I can help ...

[2015-02-09 08:47] woxxy commented on #39
Right now the `resultset` branch has a fully working Mysqli driver with `ResultSet` and `MultiResultSet` implemented.

The PDO driver needs to be updated to work with its own ResultSet and MultiResultSet.
* Update the `->query()` and `->multiQuery()` methods to return `Pdo\ResultSet` and `Pdo\MultiResultSet`.
* Update `\Foolz\SphinxQL\Drivers\Pdo\(Multi)ResultSet`, right now it's just a copy of My

[2015-02-09 22:12] woxxy commented on #39
As a note, you shouldn't use the PDO driver as it loses most of the optimization I could apply via Mysqli. The cursor can't be manipulated, not even reset, which means the only way to comfortably use PDO is by storing the entire result in the PHP memory, which is just like before `ResultSet`.

[2015-02-11 15:51] t1gor commented on #39
@woxxy, actually - there is one "pro" for PDO - you can fetch items one by one by implementing `PDOResult::fetch()`.

[code]

Yes, it can not be reset, but as long as MySql acts the same way in our application, we can be sure that using search and database returns compatible results.

[2015-02-11 17:57] woxxy commented on #39
@t1gor Mysqli can do the same

[2015-02-12 12:59] vizzent opened #46 "Search with Facets"
Hello and congratulations for this tool. :package: :+1:

I want to know if there are some way to get a query's facets. Has it implemented?

Thanks!

[2015-02-12 13:05] woxxy commented on #46
Hey, thank you!

Faceted search is not yet not implemented, but it should be fairly easy to implement.

All we need to do is adding something like `FACET $name` at the end of the SphinxQL string, I guess.

[2015-02-12 13:08] woxxy commented on #46
Actually `FACET` adds a lot of complexity since we can't expect a fixed amount of results. More precisely: we need to merge query and multiQuery.

This might be extremely unstable under `PDO` driver.

[2015-02-12 14:53] vizzent commented on #46
I need to use it in my project. :)

Can I help you with this?

[2015-02-12 15:31] versh23 commented on #46
yeah, PDO is not good for this(
there are more problems with PDO driver as it seemed at the first view...

[2015-02-12 15:42] woxxy commented on #46
This may be problematic in general. I'll try getting a solution running for version 1.0.x... tonight or tomorrow.
The `->executeBatch()` method should be deprecated since it's just doubling up a pre-existing function, `->execute()`.

My only worry with PDO is that we'll be forever forced to store the results in PHP instead of using the convenient cursor solution that leaves the result in mysql.

F

[2015-02-12 23:48] woxxy commented on #46
@vizzent In the `resultset` branch I added also a `facet` method. It might/will break, it needs testing.

Current usage:
[code]

But this isn't really enough. The final idea should be having this:
[code]
matching the SphinxQL docs: `FACET {expr_list} [BY {expr_list}] [ORDER BY {expr | FACET()} {ASC | DESC}] [LIMIT [offset,] count]`

@vizzent if you could, create a Facet class that behaves kinda li

[2015-02-14 07:28] vizzent commented on #46
@woxxy Monday morning I'll work in this! I think that it will be short.

Thanks you!

[2015-02-16 09:42] vizzent commented on #46
@woxxy I need permissons to push my commit on resultset branch. I have implemented the facet object.

[2015-02-16 09:49] woxxy commented on #46
Thank you!

To merge changes on Github you must follow the [Pull Request](https://help.github.com/articles/using-pull-requests/) flow.

In short:

* fork the library with the button on the site
* $ git remote add {user} {your-fork-url.git}
* $ git push {user} {your-fork-url.git}
* go on your fork on the site
* look where to start a pull request
* follow on-screen info

That allows us to review and

[2015-02-16 10:46] vizzent commented on #46
@woxxy Ok!
Now you can see the Pull Request. Thansk for your explanation.

I can't test the object now, please tell me If you need that I fix something.

[2015-02-17 11:57] t1gor commented on #39
@woxxy good point :)

[2015-02-24 17:27] woxxy opened #48 "New documentation"
We need to update the documentation to update the following:

- [ ] remove all references of old methods to retrieve results
- [ ] document the ResultSet method to retrieve results
- [ ] document facet

It would be amazing if we could have a pretty webpage for this, with lots of examples.

[2015-02-27 01:22] woxxy commented on #46
This is fully implemented.

[2015-02-27 01:22] #46 closed

[2015-02-27 01:23] woxxy commented on #39
The only thing to review before merging to master is the public API of ResultSetInterface. Will discuss with @oohnoitz about it soon.

[2015-03-02 19:58] hey-mx opened #49 "Add Custom Field using Formula"
I have the problem in add new Field based on some formula like:

[code]

Select tries to build this field adding quotes (`) and the formula never works.

Is possible, or do you are planning define custom fields in the select method?

[2015-03-02 20:09] oohnoitz commented on #49
@hey-mx you should be able to use `SphinxQL::expr('IF (title = "something", 1, 0) As myCustomField')`.

[2015-03-03 19:02] #49 closed

[2015-04-12 23:04] EvanLoik opened #50 "Select COUNT(*)"
Hi.
Tell me please, how can i execute this query:
[code]
As I understand, "select" variable will be wrapped in quotes before compile.

[2015-04-12 23:24] woxxy commented on #50
Try:

    $SphinxQL->select(SphinxQL::expr('COUNT(*)'))
    ->from('index_user')

Wrapping a string into an Expression bypasses escaping: https://github.com/FoolCode/SphinxQL-Query-Builder#bypass-query-escaping

[2015-04-12 23:47] EvanLoik commented on #50
Oh.
Excuse me :) I missed it.

[2015-04-12 23:47] #50 closed

[2015-04-13 00:04] EvanLoik opened #51 "select()"
I have another question.
Here is an example:
[code]
But this code will not work, because we have this line in select method:
[code]
It is not very nice. Do you think it's necessary?
It would be great to be able to change select clause.

[2015-04-23 15:29] moazam1 commented on #48
+1

[2015-05-05 16:59] mrnull opened #52 "Sorting by JSON attribute"
I have following rt_attr_json nutrients with value

     {"1":259,"3":11,"4":21,"5":5.6}

(I understand, that it's ugly).

I need to sort with something like

    ->orderBy('nutrients.1', 'DESC')

Whan I'm tring to do so it is an error

      I have an error Uncaught exception 'Foolz\SphinxQL\DatabaseException' with message '[1064] sphinxql: syntax error, unexpected '.', expecting $end near '.`1`

[2015-05-07 03:56] oohnoitz commented on #52
Based on some examples in the Sphinx docs, you will need to bypass the automatic escaping applied in the `orderBy()` method so that the JSON key dot notation is correct.

[code]

[2015-05-08 19:09] #52 closed

[2015-05-16 08:02] coseyo opened #53 "DatabaseException fix"
The usage example in the readme file:

catch (\Foolz\SphinxQL\DatabaseException $e)

should change to:

catch (\Foolz\SphinxQL\Exception\DatabaseException $e)

[2015-05-16 19:56] oohnoitz commented on #53
See #48.

[2015-05-16 19:56] #53 closed

[2015-06-25 13:20] alpha0010 opened #57 "Travis Sphinx repo location"
Sphinx has moved to [github](/sphinxsearch/sphinx). Build scripts need to be updated.
Also, compiling sphinx on each commit/pull takes a long time. Would you consider pulling binaries from their [ppa](https://launchpad.net/~builds/+archive/ubuntu/sphinxsearch-rel22)?

[2015-06-25 14:46] oohnoitz commented on #57
Yup. These suggestions have been pushed in 258725ee798825eeb847c77332f398115e0a0e00. I'll close this issue once the build passes.

[2015-06-25 14:49] oohnoitz commented on #39
I'll close this issue now since the `resultset` branch has been pushed to `master` some time ago.

[2015-06-25 14:49] #39 closed

[2015-06-26 01:00] #57 closed

[2015-06-29 19:11] alpha0010 opened #60 "Travis fast_finish"
Recommend enabling [fast_finish](http://docs.travis-ci.com/user/customizing-the-build/#Fast-finishing) so failed builds do not waste time trying all configurations.

[2015-06-30 11:33] #60 closed

[2015-07-16 12:54] alpha0010 opened #66 "Unused WHERE functions"
Sphinx does not support parenthesizing nor OR options in WHERE clauses, making `orWhere()`, `whereOpen()`, `orWhereOpen()`, and `whereClose()` unusable.  Is there any reason for keeping them around?
Also, if parentheses are needed in the future, laravel has a [nicer way](http://laravel.com/docs/5.1/queries#advanced-where-clauses).

[2015-07-16 13:22] oohnoitz commented on #66
I think those were there in case Sphinx ever supported them, but we could probably remove them. Also, I agree, if we do need them, it should be implemented the same way as Laravel's query builder to avoid any possible user-related errors.

[2015-07-16 13:34] alpha0010 commented on #66
Okay.
There are also the helpers `showSessionVariables()` and `showGlobalVariables()` which [according to docs](http://sphinxsearch.com/docs/current.html#sphinxql-show-variables) are there simply for compatibility (and do nothing different than `showVariables()`).

[2015-07-18 05:39] #66 closed

[2015-07-20 21:09] alpha0010 opened #69 "Wrong exception on multiQuery"
For mysqli driver only (mysqlnd), `testUdfNotInstalledMulti()` fails with `mysqli::multi_query(): EOF packet expected`. I am not certain if this exception should be caught by SphinxQL, or if it is indicative of a problem at a lower level. Any thoughts?

[code]

[2015-07-22 13:15] alpha0010 commented on #69
Also reported to [Sphinx](http://sphinxsearch.com/bugs/view.php?id=2290).

[2015-07-23 17:43] alpha0010 commented on #51
Since `select()` defines the type of operation being performed, the reset probably should remain.  However, I think it makes sense to add a `setSelect()` method that only changes the selected fields.

[2015-07-31 03:59] 2ge opened #70 "join with mysql table"
Hi,

I am thinking to add your lib to my project and start to using it, but I am not sure, if it can handle for example something like this:

[code]

Thanks

[2015-07-31 13:18] alpha0010 commented on #70
This library is an abstraction over SphinxQL, which according to [the docs](http://sphinxsearch.com/docs/current.html#sphinxql-reference), does not have a `JOIN` statement.

[2015-07-31 13:31] 2ge commented on #70
Thank you.

[2015-07-31 13:31] #70 closed

[2015-08-01 10:16] 2ge opened #71 "OrderBy on Expression"
Hi,

is there some way to use OrderBy on Expression ? For example this works in SphinxQL:
[code]

I was not able to write using SQB, not able to alias the field:
[code]

Example taken from http://sphinxsearch.com/docs/current/sphinxql-select.html

Thanks

[2015-08-01 13:32] alpha0010 commented on #71
Wrapping your computation with `SphinxQL::expr($string)` should work (bypasses query escaping).

[code]

[2015-08-01 13:46] 2ge commented on #71
works great, thank you!

[2015-08-01 13:46] #71 closed

[2015-08-11 05:26] 2ge opened #72 "SphinxQL Query Builder FACET example"
Hi,

would you mind sharing simple Match(...) with FACET example code ?

Thanks.

[2015-08-11 19:45] alpha0010 commented on #69
Do we want to just silence it?
[code]

[2015-08-16 15:00] oohnoitz commented on #69
@alpha0010 I have a feeling that the problem lies with MySQLND since you said it works without it enabled. In regards to your suggestion to silence it, I am leaning towards saying no.

[2015-08-16 15:04] oohnoitz commented on #72
@2ge You can find how to use FACET in the [tests](https://github.com/FoolCode/SphinxQL-Query-Builder/blob/master/tests/SphinxQL/SphinxQLTest.php#L903-L948). I believe that the `match()` method is already documented.

[2015-08-16 15:04] #72 closed

[2015-08-16 18:56] 2ge commented on #72
Sure, didn't look there. Thank you, works like charm!

[2015-08-17 12:26] alpha0010 commented on #69
@oohnoitz Looks like the Sphinx devs just fixed it.
Closing this issue.

[2015-08-17 12:26] #69 closed

[2015-08-17 18:25] domjullier opened #73 "Meta data lost on "splitted" multiqueries"
This fragment works as expected:

    $query = SphinxQL::create($this->sphinxConn)
            ->select('*')
            ->from('my_index')
            ->enqueue(SphinxQL::create($this->sphinxConn)->query('SHOW META'));

    $result = $query->executeBatch();
    ed($result); => result array dontains meta data

But this does not work (the meta data array is missing):

    $query = SphinxQL::create(

[2015-08-18 19:41] domjullier commented on #73
Well it was probaly too late when I opened this issue. The enqueue query returns a new object, so in order to get what I expected one simply must assign the return value to another variable:

    $query2 =  $query->enqueue(SphinxQL::create($this->sphinxConn)->query('SHOW META'));

[2015-08-18 19:41] #73 closed

[2015-09-01 08:24] arthfael-breanainn opened #75 "halfEscapeMatch function"
Hi all,

       I've an issue with halfEscapeMatch function. When I try this request :
SELECT * FROM rt_index WHERE MATCH('(@(title,text) \\(\"ford\"\\) -\\(\"mustang\" | \"shelby\"\\))');

it returns all down results containing "ford" including "mustang" and "shelby".
However, if I exclude parenthesis into $escape_half_chars array, my request becomes :
SELECT * FROM rt_index WHERE MATCH('(@(title

[2015-09-01 23:19] oohnoitz commented on #75
@arthfael-breanainn I'm not sure and feel that those characters might vary on a per-project basis which is why we implemented methods to allow developers to override those defaults. You can use `setFullEscapeChars($array)` and `setHalfEscapeChars($array)`.

[2015-09-02 10:28] arthfael-breanainn commented on #75
@oohnoitz thx, now my application work very well.

[2015-09-02 10:28] #75 closed

[2015-09-04 10:45] skrajewski opened #76 "New version"
Hi,

the latest tagged version is about 100 commit behind master. Could you publish new version of this package?

Many thanks,
Szymon

[2015-09-05 17:57] oohnoitz commented on #76
Yes. We had initially planned to wait until we've rewritten all of the documentation (which still isn't complete) before pushing out `1.0.0`, but we all got busy with other things instead.

[2015-09-05 17:57] #76 closed

[2015-09-17 08:26] SvetlinStaev opened #77 "Handling MVA in Sphinx with the QueryBuilder"
Hi,

I am having an issue with adding multi value attributes using the QueryBuilder. When I added the values it gives me:

[1064] row 1, column 8: non-MVA value specified for a MVA column [ INSERT INTO `auctions_rt` (`id`, `title`, `description`, `attribute_5`, `attribute_4`, `attribute_3`, `attribute_2`, `attribute_1`) VALUES (83, 'test', 'test', 'test', 0, 'test 1', 'test', '')]

From what I rea

[2015-09-17 13:17] oohnoitz commented on #77
Can you provide the code you used to generate the `INSERT` statement?

[2015-09-18 08:41] SvetlinStaev commented on #77
I am using a Doctrine entity and a model transformer to get only the fields which are needed for the index. It is an Auction entity which indexes title and description and based on a given category allows the user to enter a dozen specific attributes - let's say for a Car category it will be model, make, year etc.

After the entity is transformed to an array I get to this:

[code]

from what I see

[2015-09-18 13:24] oohnoitz commented on #77
Can you use the following for the document as the argument passed into the `values()` method?

[code]

The library doesn't have any knowledge of how your indexes are structured. It simply assumes that none of the values are a multi-valued attribute. In order to have the query builder hint that a field is a MVA, you would need to make sure that the values are wrapped within an array. This would the

[2015-09-21 23:52] oohnoitz commented on #77
@SvetlinStaev were you able to resolve your problem?

[2015-09-24 07:04] SvetlinStaev commented on #77
Hi,

Yeah, works like a charm! Thanks for the help.

[2015-09-24 12:24] #77 closed

[2015-10-21 14:30] yschapov opened #80 "JSON fields support"
This is very real. Users post problems they experience with JSON fields, i.e.:

[code]
It causes an error:

``syntax error, unexpected $undefined, expecting IDENT (or 97 other tokens) near '`attr[coast]` BETWEEN '1000' AND '7000' AND `attr[catalog_id]` = '2'' [ SELECT `product_id` FROM `parameter_index` WHERE `attr[coast]` BETWEEN '1000' AND '7000' AND `attr[catalog_id]` = '2']```

The matter is `

[2015-10-21 14:45] woxxy commented on #80
It looks like your user is using that in the query.

The [quoteIdentifier function](https://github.com/FoolCode/SphinxQL-Query-Builder/blob/master/src/Drivers/ConnectionBase.php#L94) would give as output:

    `attr`.`catalog_id`

which I wouldn't know whether it's valid SphinxQL without testing myself.

A temporary solution would be passing that field via `SphinxQL::expr('attr.catalg_id')`, which

[2015-10-21 14:53] yschapov commented on #80
Unfortunately ```"`attr`.`catalog_id`"```  is not (yet) supported either. Subkeys with spaces currently can be adressed via json["field with spaces"].

[2015-10-21 15:02] woxxy commented on #80
Alright, then we're pretty sure we'll solve this by removing the backticks.

[2015-10-22 11:08] yschapov commented on #80
Cool! I think the issue may be closed.

[2015-10-31 04:45] #80 closed

[2015-11-30 17:24] Sinersis commented on #48
How long wait new docs?

[2015-12-03 12:54] qwerdy opened #82 "compileMatch: Problem with column names matching native PHP functions"
If you incidentally have a column name matching a native PHP function, the column name ($pre) in the compileMatch() method will be empty for the match.

E.g I have a index with a column named "header" in it, this causes a match on the "is_callable" check.

[2015-12-03 13:04] woxxy commented on #82
I guess this slipped in a pull request. I will check throughly what the code is supposed to do when I get home.

Should've likely been `instanceof Closure`. If you're in a hurry, try replacing:
- `is_callable($match['column'])` with `$match['column'] instanceof Closure`
- `is_callable($this->from)` with `$this->from instanceof Closure`

[2015-12-08 14:10] dannykopping opened #84 "Is it possible to do wildcard searches?"
I've set the following options in my index, but it still doesn't seem to work:

[code]

[2015-12-08 14:24] oohnoitz commented on #84
Yes, you would need to use the `match()` methods to formulate your wildcard search queries. Also, `enable_star` should have been deprecated as of `2.2.x`.

[2015-12-08 14:25] dannykopping commented on #84
I am using the `match()` method, but I'm doing it across all fields:

[code]

[2015-12-08 14:27] lmuzinic commented on #84
Are you using min_prefix_len/min_infix_length in config as well?

[2015-12-08 14:37] dannykopping commented on #84
No - I'm using lemmatization, and that only works with morphology IIRC?

[2015-12-08 20:47] lmuzinic commented on #84
Lemmatization will only create "base tokens" such as "creates, created, create" => create (depending on dictionary used). This will not help you if you want to search for "cr*"

[2015-12-08 20:49] dannykopping commented on #84
Sure, and i need the lemmatization for other use-cases, but the wildcard search doesn't seem to work. Are the two mutually exclusive - is that what you're saying?

[2015-12-08 21:02] lmuzinic commented on #84
No, they should not be and there is no need to be. Lemmatization approaches from language/dictionary perspective, while prefix simply takes each word and create all possible variations up to min_prefix_len. For example, min_prefix_len = 2 will create 4 items in index he, hel, hell, hello from word hello

[2015-12-08 21:04] dannykopping commented on #84
Cool, that's what I thought - thanks @lmuzinic. So i'm sure i tried `min_prefix_len` - is there any option i need to set in SphinxQL to make this wildcard search possible? Or some way I can debug why I'm getting no results?

[2015-12-08 23:58] oohnoitz commented on #84
You shouldn't need to fiddle with anything besides `min_prefix_len` and `min_infix_len`. For debugging, I would suggest using any MySQL client and calling `->compile()->getCompiled()` on the query builder to get a SphinxQL statement you can run in the client.

[2015-12-09 13:01] dannykopping commented on #84
Amazing, got it working! Thanks so much guys :+1:

[2015-12-09 13:01] #84 closed

[2015-12-09 13:32] lmuzinic commented on #84
Great! Care to share what was the catch?

[2015-12-11 10:15] razvanphp opened #86 "Call set() multiple times"
Hello

For efficiency and clean code on our side, we would like to be able to make a multi insert by calling set multiple times, because that's how our data is structured, as models.

Currently this is not working, since set is assuming it's called only once. It should be done a little bit more intelligent, for example checking if the column name already exists into the `$this->columns` array and

[2015-12-12 21:39] oohnoitz commented on #86
Feel free to submit a PR for us to take a look at.

[2015-12-20 16:34] #82 closed

[2016-01-11 16:34] alpha0010 commented on #48
@woxxy, if I have time to help update the docs, where is best to edit them?

[2016-01-12 03:06] oohnoitz commented on #48
@alpha0010 the new documentation is generated with [sphinx](http://www.sphinx-doc.org/en/stable/) and can be found under `docs/` in the repository.

[2016-02-26 06:36] dormscript opened #89 "The function 'where' do not work in sphinx RealTime indexer"
I have a question,Here is some info :
**SphinxQL Code: **
` $sphinxql->where('supid', 'IN', array(2750380,1204,3630044,3627779,3627880));`

**Builded Query:**
 `select * from rt_opcom where supid in ('2750380', '1204', '3630044', '3627779', '3627880');`

**Error:**
`ERROR 1064 (42000): sphinxql: syntax error, unexpected QUOTED_STRING, expecting CONST_INT or '-' near ''2750380', '1204', '3630044',

[2016-02-27 15:07] oohnoitz commented on #89
@dormscript I checked the compiled output of the `WHERE` statement you've provided and was able to get the correct output. What version or branch of the Query Builder do you have installed?

[2016-02-29 03:18] dormscript commented on #89
@oohnoitz
The compiled output of the WHERE:
`select * from rt_opcom where supid in ('2750380', '1204', '3630044', '3627779', '3627880');`

*Sphinx version: * Sphinx 2.2.9-id64-release
The sphinx version don't support above sphinxQL.
It support SPhinxQL:
`select * from rt_opcom where supid in (2750380, 1204, 3630044, 3627779, 3627880);`

[2016-02-29 03:30] dormscript commented on #89
![c8aca23f-80f4-47b5-a606-d9aa532800e4](https://cloud.githubusercontent.com/assets/3317966/13385062/6f96ec56-ded7-11e5-9d9b-d1072af8181d.png)

This is my temporary solution,

[2016-02-29 03:34] dormscript commented on #89
![image](https://cloud.githubusercontent.com/assets/3317966/13385112/0155331e-ded8-11e5-9089-b4f0f9d6e1bb.png)

[2016-02-29 04:54] oohnoitz commented on #89
@dormscript Could you provide us with the version/branch of SphinxQL Query Builder (this package) that you are developing with?

I'm currently using the following code to try and replicate your issue:
[code]

It returns the following output which matches what you've set in your configuration file:
```SELECT * FROM rt_opcom WHERE supid IN (2750380, 1204, 3630044, 3627779, 3627880)```

[2016-02-29 05:09] oohnoitz commented on #89
You can also find the function that handles quoting/escaping values in the following file: [ConnectionBase.php#L121-L151](https://github.com/FoolCode/SphinxQL-Query-Builder/blob/master/src/Drivers/ConnectionBase.php#L121-L151). I believe we haven't made any changes to this function in numerous releases either. Your value should have matched the `if (is_int($value))` statement and returned it as an

[2016-02-29 06:25] dormscript commented on #89
[code]
//url:  ?id=2750380,1204,3630044,3627779,3627880
try again

[2016-02-29 09:05] woxxy commented on #89
You're passing strings. You must cast those to INT.

The function `is_numeric()` in your code is unsafe, as it can accept more than just pure integers (octals, floats etc.). You should use code similar to the following to

- check that the variable is not already an INT
- check that the variable can be safely turned into an INT

[code]

As a bonus, the intval() will just result in a 0 if the conve

[2016-02-29 09:28] MethyleneGaming commented on #89
as @woxxy mentioned the issue with your code is that these lines:

[code]
return an array of numeric strings.

so to fix this you will want to replace that line with one of the 3 below lines.

[code]

[2016-02-29 09:55] dormscript commented on #89
@MethyleneGaming @woxxy @oohnoitz

Thank you very much !

[2016-02-29 10:24] #89 closed

[2016-03-04 00:13] abodnar opened #90 "Unable to select snippet or use Helper to get snippet"
I'm trying to use your library to retrieve a snippet for some text based off of some keywords, but when it tries to do it for certain text, it just fails and I don't get any sort of error.

[code]

I've also tried it using the helper method to get a snippet.

[code]

But I get this error: The distributed index for snippets must have exactly one local agent

Not all of the text I try with hits an e

[2016-03-06 18:52] oohnoitz commented on #90
@abodnar Based on the error you pasted, it looks like a configuration error since you appear to have a distributed index setup. I don't have much experience using the snippet feature, but using the example you provided works perfectly fine for me for in a local index setup.

[2016-03-09 00:15] abodnar commented on #90
Looks like it was due to the distributed index was causing problems. Worked fine when I switched to one of the actual indexes. I also got my query to work when I switched to the actual index as well and modified my query.

I see that the callSnippets actually does a CALL SNIPPET query. Do you if this is slower than doing the SELECT SNIPPET query?

Thanks.

[2016-03-09 01:27] oohnoitz commented on #90
Based on the [documentation](http://sphinxsearch.com/docs/latest/sphinxql-select.html), there might be some reasons why you would want to use the `SNIPPET()` function. There shouldn't be any performance issues with using either normally though. Anyway, I'll mark this as closed.

[2016-03-09 01:27] #90 closed

[2016-03-24 20:21] abreksa4 opened #91 "json support"
Would be great to have json support as per http://sphinxsearch.com/blog/2013/08/08/full-json-support-in-trunk/ and http://sphinxsearch.com/bugs/view.php?id=1690

[2016-04-01 11:24] rafis opened #92 "ERROR: LIMIT #,# syntax is not supported"
SELECT id, weight() AS weight FROM index, index_delta WHERE MATCH('query') LIMIT 10, 10

[2016-04-01 11:25] #92 closed

[2016-04-02 23:33] oohnoitz commented on #91
@abreksa4 I'm not sure what you have in mind, but it should already be possible to write and execute queries with JSON attributes. This can be done using `Sphinx::expr($string)` and `where($column, $operator, $value)`.

[2016-04-24 22:08] #91 closed

[2016-04-25 15:58] SvetlinStaev opened #93 "GEODIST function support"
Hi,

I am not really sure if it is an issue with the current setup but I can't really get the ```GEODIST``` function working correctly. Is there support for that in the library or it needs to be implemented in a similar way to what the ```Facet``` class does?

An example of what I am trying to achieve:

[code]

[2016-05-09 15:58] Alabme opened #94 "Can't do OR in match"
Hi,

I think it is impossible right now achieve in Your library something like this:

[code]

I'm talking about `|` operator between fields. I need to find documents where `country = DE and locality = Berlin` OR `country = DE and locality = empty and postal_code = empty`

Or maybe I'm wrong?

Best regards,
Tomek Będkowski

[2016-05-10 03:17] oohnoitz commented on #94
It's possible. You can take a look at our [MATCH tests](https://github.com/FoolCode/SphinxQL-Query-Builder/blob/master/tests/SphinxQL/MatchTest.php) for some examples.

[2016-05-10 03:22] oohnoitz commented on #93
@SvetlinStaev this should be possible with the following:
[code]

[2016-05-10 09:05] Alabme commented on #94
@oohnoitz thanks for answer!
It seems it is definitely possible, sorry for the trouble.

[2016-05-10 12:52] #94 closed

[2016-05-12 16:10] SvetlinStaev commented on #93
Works perfectly, thanks!

[2016-05-13 00:31] #93 closed

[2016-06-10 07:57] is-blackhole opened #96 "Some chars pass escapeMatch filter?"
Hello!
I have used your awesome package and yesterday my site sent me error about incorrect sphinx ql syntax:
[code]
Query params are search.php?q=%bf%27%bf%22 (looks like some unicode chars) and query is build using $qb->match('*',$q)
Docs says all MATCH are auto-escaped, I also tried to pass $qb->escapeMatch($q) - and still got that error.
I think some special chars can still pass through escape

[2016-06-10 13:08] oohnoitz commented on #96
@is-blackhole after doing some rudimentary tests, it looks like your query is failing because of the `%BF` url encoded character that's being passed through your query string params which doesn't appear to be decoded properly in the error message displayed. I also ran a test with the actual ASCII value for that character passed into a query string param, and it appeared to execute the query withou

[2016-06-13 12:50] denchik63 opened #97 "Foolz\SphinxQL\SphinxQL reset"
Hi.

When i tried to reset all query params, i found that the limit wasn't cleared. in the **reset** method I didn't see somthing like that: $this->limit = null;

[2016-06-14 00:36] oohnoitz commented on #96
Going to close this since there isn't an issue with the library itself. You can use the methods available [here](https://github.com/FoolCode/SphinxQL-Query-Builder/blob/master/src/SphinxQL.php#L1204-L1234) to escape your own set of characters in a MATCH query.

[2016-06-14 00:36] #96 closed

[2016-06-14 07:59] is-blackhole commented on #96
Yes, thanks for your help!

[2016-06-16 18:53] alpha0010 opened #98 "Boolean quoting behaviour"
I noticed that [in quoting](https://github.com/FoolCode/SphinxQL-Query-Builder/blob/master/src/Drivers/ConnectionBase.php#L134), `true` => `"'1'"` and `false` => `"'0'"`. Is there a reason for this? The sphinx bool attribute requires the integer `1` or `0` to be used.

[2016-06-17 01:40] oohnoitz commented on #98
@alpha0010 I can't seem to recall why we have it doing that. It should be returning a `1` and `0`, respectively, when passing `true` and `false` there.

[2016-06-17 01:58] #98 closed

[2016-06-17 02:11] oohnoitz commented on #97
69526f5d1e399a21aa9913c8f63f9aa9947b76b1

[2016-06-17 02:11] #97 closed

[2016-07-07 23:39] #86 closed

[2016-08-23 07:26] #51 closed

[2016-09-22 10:02] n4p4 opened #108 "Empty Match Query raises Exception"
**query:**
`$this->sphinxql->create($conn)->select()->from('users')->match('')->compile()->getCompiled()`

**outputs:**
`SELECT * FROM users WHERE MATCH('()')`

which obviously raises an exception in Sphinx.

**It should actually be:**
`SELECT * FROM users WHERE MATCH('')`

what can I do to solve this? Is there a way to get rid of the '()' without modifying the source code?

[2016-09-23 02:14] #108 closed

[2016-09-24 19:13] oohnoitz commented on #108
@n4p4 did that resolve your problem?

[2016-09-25 07:12] n4p4 commented on #108
yes. thanks

[2016-10-24 15:41] fruit opened #110 "When "resetting" a client, reset a $facets array too"
When I run multiply queries one after one, I'm getting the previous facets results returned.

[code]

I would like to have the resetting of $facets within a `reset()` method call.

[2016-10-24 21:25] woxxy commented on #110
Requires adding a line to https://github.com/FoolCode/SphinxQL-Query-Builder/blob/master/src/SphinxQL.php#L1346 and possibly a test to avoid regression.

[2016-12-15 13:26] Streid opened #114 "Fix use the short array push syntax on a string"
Pull request - https://github.com/FoolCode/SphinxQL-Query-Builder/pull/113

[2016-12-15 13:52] #114 closed

[2016-12-19 14:25] SvetlinStaev opened #116 "[] operator not supported for strings error"
I am trying to update an entity and upon its update to update the information for the entity in the SphinxSearch index. After upgrading to PHP 7.1 I started getting the following error:

`[] operator not supported for strings {"exception":"[object] (Symfony\\Component\\Debug\\Exception\\FatalThrowableError(code: 0): [] operator not supported for strings at /Users/Svetlin/Projects/symfony/vendor/fo

[2016-12-19 14:34] woxxy commented on #116
Issue in this library. At https://github.com/FoolCode/SphinxQL-Query-Builder/blob/1.1.0/src/SphinxQL.php#L686-L695 there `$query_sub` should be initialised as an empty array.

Basically `$query_sub = '';` must become `$query_sub = array();`.

See if it works for you.

[2016-12-19 15:16] SvetlinStaev commented on #116
Yeah, it does. Thanks!

[2016-12-19 15:40] woxxy commented on #116
This is already fixed on branch master https://github.com/FoolCode/SphinxQL-Query-Builder/commit/d288eb84f2b86c4a220fe813cfc14df5f202dfa9 so will leave it at that. Will be fixed in the next tag release which ought to have 7.1 compatibility.

[2016-12-19 15:40] #116 closed

[2016-12-19 19:41] oohnoitz commented on #116
According to our tests, it should be compatible. Made a new tag release for it https://github.com/FoolCode/SphinxQL-Query-Builder/tree/1.1.1.

@SvetlinStaev you can point it to that specific version instead of `dev-master` if needed.

[2016-12-20 05:24] SvetlinStaev commented on #116
Thanks for the fix!

[2017-04-26 11:28] razvanphp opened #118 "reconnect on MySQL server has gone away"
We are using this library for a long time, thank you for that!

Until now, we tried different approaches of making sphinx HA, first by using a local instance with distributed index, than with a TCP load balancer, but all methods have drawbacks.

Recently, this got worse with moving to AWS, because it seems that for long running jobs, TCP connections don't hang in too long, so we get this generic e

[2017-04-27 00:06] oohnoitz commented on #118
`ping()` calls [`mysqli::ping`](http://php.net/manual/en/mysqli.ping.php) which should return a `true` or `false` value when if checking the connection to the server is still alive, but it won't do anything more than that.

My current gut feeling would be to implement a public `reconnect` method that can be used to forcibly reconnect to Sphinx. This could then be called whenever you run into a cas

[2017-04-27 06:29] razvanphp commented on #118
mysqli implementation with mysql_nd disabled the ping function for security reason, the bug here is marked as won't fix: https://bugs.php.net/bug.php?id=52561

so indeed it looks like this has to be optional, but `reconnect` would be pretty useless since we can just do `close()` & `connect()` with the same effect.

problem is, we do not know when this happens to do it, so we would have to catch al

[2017-04-27 13:54] oohnoitz commented on #118
Right, I forgot we had the `close` method available on the `Connection` classes for each driver, which would make the `reconnect` method somewhat redundant.

Agreed. That would just end up being a workaround and not an actual solution to the problem.

I have mix feelings about doing this. At this point, it makes me wonder if having a connection manager/pool would make sense. Want to chime in on th

[2017-04-27 15:37] razvanphp commented on #118
Yes, exactly.

The sitemap job for example does some other things in between for some minutes, and when it tries to reuse the connection, `ping()` is called in `multiQuery()` but this is too dumb, only checks if the `Connection` object was instantiated, not if it's still actually connected on the TCP stack, so that would be a fatal exception from PDO on `$this->connection->query();`.

The "proper"

[2017-08-14 05:33] joydipnath opened #119 "Where clause automatically changing a dynamic numeric value to a string type"
Query:
$query = SphinxQL::create($conn)->select('*') ->from('jobs')->where('work_experience_min', '<=', $experience);

Error:
[1064] sphinxql: syntax error, unexpected QUOTED_STRING, expecting CONST_INT or CONST_FLOAT or DOT_NUMBER or '-' near ''3' AND work_experience_min <= '3'' [ SELECT * FROM jobs WHERE work_experience_min <= '3']

[2017-08-16 13:51] oohnoitz commented on #119
This seems like the same issue as #89. Could you verify that `$experience` really is coming in as an integer?

[2017-08-18 14:22] hanihh opened #120 "support group n by"
Hi,
Thanks for the great library,
However,
in order to let `WITHIN GROUP ORDER BY` works perfectly
the group by statement needs to be written as `GROUP 20 BY` not only`GROUP BY`
`SELECT
    select_expr [, select_expr ...]
    FROM index [, index2 ...]
    [WHERE where_condition]
    [GROUP [N] BY {col_name | expr_alias} [, {col_name | expr_alias}]]
    [WITHIN GROUP ORDER BY {col_name | expr_alias

[2017-08-24 11:49] joydipnath commented on #119
Yes, the above problem has been fixed.
But I wanted to ask, whats the

 equivalent ?

[2017-08-24 12:01] oohnoitz commented on #119
There isn't one since Sphinx [doesn't support](http://sphinxsearch.com/docs/current.html#sphinxql-select) the `OR` operator.

[2017-08-24 12:01] #119 closed

[2017-09-14 15:53] kono88 opened #122 "MAYBE Multimatching"
Hi

How i can build a query that looks like this ?

`SELECT * FROM my_index WHERE MATCH('@name jurassic MAYBE @description dinosor')`

Ty

[2017-09-14 19:42] oohnoitz commented on #122
The following snippet should work:
[code]

See https://github.com/FoolCode/SphinxQL-Query-Builder/blob/master/tests/SphinxQL/MatchTest.php#L60-L71.

[2017-09-14 21:03] kono88 commented on #122
I have this error :
Call to undefined method Foolz\\SphinxQL\\SphinxQL::field()

[2017-09-14 22:05] oohnoitz commented on #122
It needs to be done on a `Match` instance which is then passed in as a query. So something like this:
[code]

You'll need to adjust the code accordingly.

[2017-09-20 23:19] #122 closed

[2017-10-09 09:16] arnisjuraga commented on #36
Link updated: https://github.com/FoolCode/SphinxQL-Query-Builder/blob/master/tests/SphinxQL/SphinxQLTest.php

[2017-11-07 14:11] oohnoitz commented on #120
This landed in dc9f7f6e5ddb3fbbc5a784ebd145ac5077fc4031.

[2017-11-07 14:11] #120 closed

[2017-11-09 13:41] kmeekva opened #126 "All calls to execute are returning Result object rather than results array?"
I had queries working using Sphinx Querybuilder and when I called the execute function it was returning an array of results as expected.  But suddenly whenever I call any execute I am getting a result object rather than the real results?

The result object says num_rows found -- but doesn't give me the ids?

If use SPHINXQL directly with mysql client from command line  it returns results - so the

[2017-11-09 22:24] kmeekva commented on #126
Thank you so much!!!

This package is great – I must’ve had earlier version and upgraded and suddenly things stopped working..  That will teach me not to reach changelogs..

Kevin

From: Denis Tarasov [mailto:notifications@github.com]
Sent: Thursday, November 09, 2017 2:37 PM
To: FoolCode/SphinxQL-Query-Builder
Cc: Kevin Meek; Author
Subject: Re: [FoolCode/SphinxQL-Query-Builder] All calls to exec

[2017-11-09 22:35] oohnoitz commented on #126
I should have done a major version bump instead of a minor version bump with the recent release that contained some of the rework @ergnuor had. That's a mistake on my end.

[2017-11-22 16:20] acekid commented on #126
I am so very lost.  I cannot find any documentation for the fetch* methods.  All docs say execute(), and also say that an array is returned.  I see the fetch* methods in the code but I cannot run as I always get a Fatal error: Call to undefined method Foolz\SphinxQL\SphinxQL::fetchAssoc()   Note that everything else works, I can make a direct mysqli connection, I can use sphinxql::execute() and ge

[2017-11-22 16:29] kmeekva commented on #126
See my code below that I use to fetch the IDs.  I had to loop thru the results to grab the IDs I wanted.

I never had much luck getting the Try / catch to actually work and show me the error when there was error with my query -- it would just not return results.

I found the $sq->getCompiled(); to be useful to get the actual SPHINX SQL statement generated so I could test it from the mysql command

[2017-11-22 16:29] acekid commented on #126
Nevermind, I figured it out:

$conn = new Connection();
$conn->setParams(array('host' => 'localhost', 'port' => 9306));

$query = SphinxQL::create($conn)
->select('*')
->from('search')
->match('data', 'shelf');

$result = $query->execute();
$results = $result->fetchAllAssoc();
print_r($results);

Thanks and sorry for being impatient.  I love having my query-builder back!

[2017-12-03 10:33] 2ge commented on #126
I run exactly into this issue, it would be great if somebody could update DOCS and change examples. Without reading this ticket I would be lost.

[2017-12-03 16:18] oohnoitz commented on #126
@ergnuor could you submit another PR to document these new changes in the README?

[2017-12-04 10:27] ergnuor commented on #126
Yes, sure :)

[2018-01-12 19:49] sergeypayu opened #131 "DatabaseException on select query with extended characters as first symbols in a match value"
I get `Foolz\SphinxQL\Exception\DatabaseException: [1064] index kbindex: syntax error, unexpected ')' near '\()' [ SELECT * FROM kbindex WHERE MATCH('(\\()')]` error when trying to make a select query if I use special symbols as first character in match value. Example:
[code]
I didn't find any way to gracefully escape such values. I can bypass the problem by manually constructing a match query lik

[2018-01-12 19:56] sergeypayu opened #132 "Support multi document input in CALL SNIPPETS helper"
Recent implementation of the Helper::callSnippets function can not call snippets on several documents. I'm not even able to provide a manual concatenation of the documents like this ('data1', 'data2'), because it inevitable quotes it to a single string and fails the call. I ended up writing my own implementation:

[code]

[2018-03-08 14:30] #126 closed

[2018-04-13 13:25] oohnoitz opened #141 "Test Sphinx 3.x and Manticore"
We should update our Travis-CI matrix to test against these two builds.
- Sphinx 3.x doesn't have a simple way to install as they don't provide builds in PPA atm. We might need to roll out our own install steps for this.
- Manticore is a fork of Sphinx. They also don't seem to have a simple way for us to grab releases unless we use the GitHub releases API and would be subjected to rate-limiting. T

[2018-04-14 17:15] oohnoitz commented on #141
Got a WIP branch [ci-build-matrix](https://github.com/FoolCode/SphinxQL-Query-Builder/tree/ci-build-matrix) in case anyone wants to continue working on it.

- Sphinx 2 still works as usual.
- Sphinx 3 has an issue with UDF that needs to be looked into.
- Manticore isn't starting for some reason.

[2018-04-16 12:29] vchebotarev opened #146 "getStored() deprecation in ResultSetBase"
And I have a question about getStored deprecation
It was quiet hard to understand its code, so then i recognized that there is no need to remove it
I have a suggection
- reorganize result interfaces to have single responsobilities
-- ResultSetInterface  with store() and getStored()
-- MultiResultSetInterface extends ResultSetInterface
-- SingleResultSetInterface extends ResultSetInterface
- rename

[2018-04-17 13:28] oohnoitz commented on #146
I don't have any strong preference, but if you can ship this as a separate PR that I can take a look at we can see where it goes from there.

I believe the whole "stored" keyword was being passed around because `mysqli` uses that same keyword for interacting with the result set returned with that driver. We also have a `getResult` method in `src/SphinxQL` so we would need to take in consideration

[2018-04-17 13:48] vchebotarev commented on #146
Oh, i understood. This issue is a bad suggestion.
Everything got mixed in my head - because in result sets mixed to much logic and namings don't make clear clear what is really going on.
I think a little bit about it in general, don't close issue for some time ...

[2018-04-18 11:07] vchebotarev commented on #146
Well
I thought a lot about it ...
What do you think about doctrine/dbal and in mysqli and pdo drivers?
It is the most popular package for databases using
I am thinking about some lib which will adoptations of doctrine/dbal for sphinx using inheritance or decoration to close unsupperted features and adding new to cover all sphinxQL features
It will relieve us from result sets support as a headache

[2018-04-23 09:22] vchebotarev opened #150 "release 2.0.0"
@oohnoitz What do you think about it ?
But there are still some issues #110 #132 #141 which should be managed before or not ...

[2018-04-24 01:40] oohnoitz commented on #150
Here is my thoughts on those 3 open issues.

- #110 shouldn't take much effort to implement and should be included in the release.
- #132 might require some tinkering so that the API doesn't seem awkward. I'd rather punt this off for now.
- #141 isn't required and just a nice to have.

I think the only major blockers is making sure all documentation is up-to-date and noting all of the breaking cha

[2018-05-04 18:32] tomcontr opened #151 "unsupported filter type '(filter-type-6)' on int column"
Hi,

Im getting that when doing this:

    ->where('id', 'IN', $pr_ids)
pr_ids is an array that contains INTs

If I do this:

    $a = "123123,14434343,2342342,2342342";
    $pr_ids = explode(",",$a);
I get the error, but if do:

    $pr_ids = array(123123,14434343,2342342,2342342);
It works fine.

My problems is that the array comes from other script, so I cant do the second option.

[2018-05-04 21:32] oohnoitz commented on #151
It's because you are passing in an array of strings. You will need to do some post-processing to your `explode` to cast them to `int`.

[code]

[2018-05-06 18:52] #151 closed

[2018-05-23 13:34] vchebotarev commented on #150
Sorry for delay.
So, i dont quiet understand how to generate changelog correctly. May be i'll write down what was done since last realese and you will formalize it in the correct way

[2018-05-23 13:49] vchebotarev commented on #150
- phpDoc update
- \Foolz\SphinxQL\Drivers\ResultSetAdapterInterface constants were removed. Fetch type argument became boolean (assoc or not)
- global refactor of dependencies between classes and implemented interfaces to avoid code dublicating
- fixed incorrect property visibility
- removed connection error supressing in during connection, fixed exception throwing
- dropped static creational meth

[2018-05-23 13:56] oohnoitz commented on #150
No problem, I'll formalize it once I have the chance. It's just that I wanted to make sure what the actual breaking changes were so that it can be surfaced up in the CHANGELOG as to what they would actually need to fix.

Will move that one line from the README before I publish a new release. I think the only other thing I'd like to get in is #153 which just needs some adjustments to tests/CI.

[2018-05-23 17:58] puggan opened #155 "mb_internal_encoding(null) in mbPop()"
if \Foolz\SphinxQL\Drivers\Mysqli\Connection::close() is called when $internal_encoding is null,
mbPop() calls mb_internal_encoding(null), and that give an error.

[2018-05-24 07:41] Necklaces commented on #131
I get this as well, weirdest part is when input is nothing but a space it throws the same error..

[2018-05-24 14:12] ivanghisleni opened #156 "setSelect() after query(..) method"
Hi,

I have this problem, after generating sphinxql passing the strin to query() method, I want to reuse the same query changing the select fields but using getSelect and after setSelect will be ignored.

Is it the correct way?

Thaks

[2018-05-26 01:50] #155 closed

[2018-05-26 01:54] oohnoitz commented on #156
I'm not exactly sure what you are asking. Can you rephrase your question or provide example code of what you are trying to attempt to do?

[2018-05-26 02:06] oohnoitz commented on #110
implemented in 7e2ade807ee78d4667d0bf1b4200288b347601ef

[2018-05-26 02:06] #110 closed

[2018-05-26 02:16] oohnoitz commented on #146
I was a bit busy the past few weeks and forgot about this issue. I do think this might be worth looking into so that we don't have to manage connections which has been a bit of a hassle and only focus on our goal of providing a "Query Builder" for the SphinxQL syntax. This may also end up resolving #123 which has been open for quite some time.

[2018-05-26 02:50] oohnoitz commented on #131
This fell off my radar a few times already and it's a bit of a difficult solve.

@sergeypayu could you try the following as part of your query? I wonder if we have some odd escaping issue with our current list of characters/mapping.
[code]

@Necklaces could you also try the same? Also, let me try to address some of the errors you are having...
[code]
This does seem to be the correct behavior.

[co

[2018-05-26 02:51] oohnoitz commented on #131
Also, I don't have `searchd` configured to run in my local development environment so I can't confirm some of these suspicions I have at the moment.

[2018-05-26 03:16] #132 closed

[2018-05-26 03:18] oohnoitz commented on #150
The 3 open issues I mentioned above should be addressed. The only thing left would be #153 before I'll update the changelog and create a tag release.

[2018-05-26 03:28] oohnoitz opened #158 "Looking for Project/Package Maintainer"
There are a few things I would like to state first:
- Currently, I am the sole maintainer of this package at this moment.
- I don't have much bandwidth available to maintain this package.
- I don't have much stake in this project either since it is not being used in any of my ongoing/active projects. This puts it pretty low on my list of priorities.

With the reasons stated above, this puts this p

[2018-05-27 14:45] woxxy commented on #146
As long as you can create a new Connection class that used Doctrine DBAL, you should be good to go. Sadly we can't completely separate this library from the Connection as we need it to escape strings.

[2018-05-28 03:54] alpha0010 commented on #158
My life is quite busy at the moment, so I doubt I would have time for new development.  However, I \*should\* be able to assist in managing pull requests.

[2018-05-28 08:16] Necklaces commented on #131
Well, I tried doing this:

[code]

But I still get the same error when putting ')' into search term:

[code]

Same goes for space, and seemingly all of these characters when alone in the searchterm.
In contrast, searching for "TEST!" (rather than just "!") works.

[2018-06-01 04:32] oohnoitz commented on #150
I created a tag for `2.0.0`.

https://packagist.org/packages/foolz/sphinxql-query-builder#2.0.0

[2018-06-01 04:32] #150 closed

[2018-06-04 07:49] vchebotarev commented on #158
I think i can help. But as you can see I can't pay attention regularly

[2018-06-13 13:17] brutto opened #159 "How detect erros on multiresult query?"
Do not find any information about it. =\

[2018-06-14 18:39] arnisjuraga commented on #131
The same problem here. If the term starts with `(` or `-` - it generates fatal error ` syntax error, unexpected...`

What I did as a dirty workaround, is just to remove all special characters from the beginning of string:

[code]

Any better ideas?

[2018-07-31 11:21] toanld opened #160 "Set OPTION ERROR"
->option("ranker","expr('sum(exact_hit+10+lcs)*1000 +bm25')");
result error
SQLSTATE[42000]: Syntax error or access violation: 1064 unknown ranker 'expr(\'sum(exact_hit+10+lcs*(1*exact_order))*1000 +bm25\')' [SELECT * FROM test LIMIT 0,1 OPTION ranker = 'expr(\'sum(exact_hit+10+lcs)*1000 +bm25\')']

[2018-08-28 19:42] ryancco opened #161 "Additional Manticore Functionality"
The Percolate class fails to provide all of the Manticore core functionality; namely the ability to update document attributes. Is there any plan to add this functionality to the project/is there an alternative? The [Manticore] documentation makes vague references of some object providing this functionality but no references of what the object is or where it's coming from.

[2018-08-29 05:11] #161 closed

[2018-09-18 17:08] someApprentice opened #162 "Class 'Foolz\SphinxQL\Connection' not found"
[code]

fix: `use Foolz\SphinxQL\Drivers\Pdo\Connection`

[2018-09-25 09:44] puggan commented on #162
Readme should be updated to use a existing class like `Foolz\SphinxQL\Drivers\Mysqli\Connection`

Changelog should add a note that Foolz\SphinxQL\Connection have bean droped.

[2018-09-26 04:55] oohnoitz commented on #162
Ref 57cffab78548824015f66451bac542ec1c1d73e8. Won't publish a new release though since there aren't any changes that warrant it yet.

[2018-09-26 04:55] #162 closed

[2018-09-26 08:32] puggan commented on #162
agree, github shows the readme of the master anyway, so a release is not needed at all.

[2018-11-05 07:32] ianion opened #167 "ANY - ALL support"
Is there a support for ANY() / ALL() query for MVA column fields? Recently there is a bunch of suggest's on this in log files.

[2018-11-09 17:14] sshilko opened #168 "No way to set query type to select without resetting via select()"
Only workaround is

[code]

Also weird that select() resets everything, needed public method to set type

[2018-11-14 15:08] MikhailGuschin commented on #131
Hello.
One more problem example. I tried to search expressions `=== | *===*` in index. SphinxQL build query `SELECT * FROM rt_cohorts_groups WHERE MATCH('(@(cohort_name,group_name) \\(\\=\\=\\= | *\\=\\=\\=*\\))')` and after execute get the error: `index rt_cohorts_groups: syntax error, unexpected '|' near ' \(\=\=\= | *\=\=\=*\))'`.
Interesting thing that query return right results set.

[2018-12-18 14:29] nadavvin opened #171 "Missing license file"
Missing license file for this project.

[2019-01-15 09:04] koseduhemak opened #172 "PHP 7.3 - preg_replace failed"
Hi there,

with PHP 7.3.1 I get the following error:

`Warning: preg_replace(): JIT compilation failed: no more memory in /Users/mfuesslin/dev/lotsearch/vendor/foolz/sphinxql-query-builder/src/SphinxQL.php on line 1362`

I think there was a change in preg_replace from PHP 7.2 to PHP 7.3.

Any ideas?

[2019-01-15 09:09] koseduhemak commented on #172
Ok seems to be a bug in PHP 7.3:
https://stackoverflow.com/questions/53690624/errors-installing-composer-on-macos-jit-compilation-failed

https://bugs.php.net/bug.php?id=77260

Setting `pcre.jit=0` in php.ini is a temporary fix.

[2019-01-15 09:09] #172 closed

[2019-01-18 07:17] caohuashan opened #174 "Insert new index report error"
[code]
It repoort error like blow:
 Uncaught Foolz\SphinxQL\Exception\DatabaseException: [1064] index 'users' does not support INSERT (enabled=1) [ INSERT INTO users

How should I resolve the problem?

[2019-01-30 08:18] adriannuta commented on #174
INSERT can be performed only on Real-Time index type. This is not an issue of the library, check the search engine documentation.

[2019-05-13 13:55] glukkkk opened #176 "MATCH conditions are not compiled for DELETE queries"
MATCH conditions are not compiled for DELETE queries

`$res = $query->delete()->from('rt')->match('field', 'value');`

`// this will return DELETE FROM rt; (MATCH condition is lost)`
`echo $res->compile()->getCompiled();`

[2019-05-31 10:51] KarelWintersky opened #177 "excessive escaping"
I recieving from `$_GET['subway']` :
[code]
as result of query `subway[0]=17&subway[1]=64`

then, I use:
[code]
and have error:
[code]

Please, check type of variables while escaping it.

[2019-05-31 10:52] KarelWintersky commented on #177
My solution is:

[code]
but it is excessive

[2019-06-20 12:16] KarelWintersky opened #178 "Inserting MVA Attrubutes"
Add to FAQ / ReadME

[code]
I am adding data to my index.

[code]

How to add MVA attribute 'rubrics' and 'districts'?
This fields described as
[code]

Easy:
[code]
Just send to dataset field *ARRAY* of values.

[2019-06-24 17:16] KarelWintersky commented on #177
Excessive escaping?

Double escaping of strings is not a responsibility of builder? Really?

[2019-06-26 22:45] oohnoitz commented on #178
Not sure what the ask is. I think adding a single line under https://github.com/FoolCode/SphinxQL-Query-Builder#insert-replace mentioning MVA attribute support would be enough. Would welcome a PR for it.

[2019-06-26 22:49] oohnoitz commented on #176
Yeah, I don't think we considered `MATCH` when we wrote this library and supported `WHERE` as the bare minimum. We didn't use the real-time indices much at the time. If you are able to get a PR up, I think the addition would be welcomed.

[2019-06-26 22:51] oohnoitz commented on #174
I'm closing this as it isn't a bug. As mentioned above, `INSERT` can only be done on real-time indices. Correct me if I'm wrong, but I believe it is the same for `DELETE` and `UPDATE` as well.

[2019-06-26 22:51] #174 closed

[2019-06-26 23:18] oohnoitz commented on #177
I'd have to agree with @glukkkk on this. Honestly, I would love to rip out a bunch of the escaping logic we have and since it's caused quite a bit of problems with `MATCH` in certain use cases. There's only so many cases that we can only think of and I don't have any solution at this time.

I don't have PHP installed on my environment, but I would have thought that it'd compile the `WHERE` to `sub

[2019-06-26 23:26] oohnoitz commented on #160
Going to close this unless it's still an issue. However, I believe it expects you to use `Sphinx::expr()` to bypass the quotes placed around the value (which happens automatically, except when you use the mentioned helper). So it would be something along the lines of:

[code]

[2019-06-26 23:26] #160 closed

[2019-06-26 23:32] oohnoitz commented on #167
This should be supported already without any issues. If I read the Sphinx documentation correctly, I think all you need to do is just do something like the following:

[code]

[2019-06-26 23:32] #167 closed

[2019-06-26 23:33] glukkkk commented on #176
https://github.com/FoolCode/SphinxQL-Query-Builder/pull/179

[2019-06-26 23:36] oohnoitz commented on #176
I merged it in. It seems like it's been a while since the last release so I'll make one in a few.

[2019-06-26 23:53] oohnoitz commented on #176
It's been published.

[2019-06-26 23:53] #176 closed

[2019-06-27 07:25] glukkkk commented on #176
Thanks!

[2019-06-27 11:24] KarelWintersky commented on #177
@oohnoitz , some PHP methods returns strings instead of integer.

So, Build MUST check type of variable before escaping it:

`if (! is_string($value)) escape this. `

[2019-06-27 11:25] KarelWintersky commented on #178
it is not a PR. but a HINT for someone looking answer for this

[2019-06-27 13:07] woxxy commented on #177
`WHERE IN` requires numeric values. You should process the input for it to be numeric. The library will not guess which conversions to make for you, because it won't know how (is it int? float? decimal? hex?).

The query erroring is the desired behaviour - the escaping prevents injection, not bad queries.

About `(''17'',''64'')`, did it actually have double single quotes?

[2019-06-27 13:09] KarelWintersky commented on #177
Yeah. I is double single quotes.

[2019-06-27 13:10] woxxy commented on #177
That is what's worrying me now, it should be single at best.

[2019-06-27 14:16] oohnoitz commented on #177
I used Travis CI to confirm my assumptions, and it seems to be working properly and as intended. So there isn't any "double single quotes" happening:

- https://github.com/FoolCode/SphinxQL-Query-Builder/commit/a5be5fdeacc9bfaa1f2706a1bd2e99903407c6a0
- https://travis-ci.org/FoolCode/SphinxQL-Query-Builder/builds/551331692

As @woxxy has mentioned, we won't make any type of assumptions and perform

[2019-06-27 14:23] KarelWintersky commented on #177
so. i'll close issue. If i found this problem again, i will reopen it.

[2019-06-27 14:23] #177 closed

[2019-07-01 20:41] rjmasiglat commented on #118
with the Mysqli driver, changing the ping function from this
[code]

to this

[code]

works with long-running process failing to reconnect.

[2019-07-29 11:46] KarelWintersky opened #184 "Make parameter for SphinxQL->update() optional!"
Make parameter for 'update' method optional, because method `replace` have no required param:
[code]
usable as: `$connection->replace()->into($index)->...`

But:
[code]
REQUIRES $index and can't be used same way

[2019-09-27 07:27] umutbesler opened #185 "Multimatch query couldn't get second query results"
Hello,

I am trying to make a query and then get the "total_found" by executing "SHOW META" query.

`
$conn = new Connection();
$conn->setParams(array('host' => 'localhost', 'port' => 9306));

$cl = new SphinxQL($conn);
$cl->select();
$cl->from("frtIndex");
$cl->limit($pageIndex, 5);

$tipler = array(
    "1",
    "4",
    "3",
);

if(in_array($_GET['t'], $tipler)) {
    $cl->where("tip_id", "=",

[2020-01-07 23:35] Fossil01 commented on #131
Having this issue too. Only when it's the only char. Can search for /whatever but not for / or a space etc.

[2020-01-08 11:30] Fossil01 commented on #131
I just did this and it seems to work. Searching for / or a space as the only char doesn't crash anymore, plus Boolean search now works:

[code]

Added the true param to the match() method and then wrapped the execution in a try/catch just outputting an empty array on error.

[2020-01-22 13:20] KarelWintersky opened #186 "How to disable escaping query?"
My query is:
[code]

At `/vendor/foolz/sphinxql-query-builder/src/SphinxQL.php` inside method `escapeMatch($string)` my query converts from
`Бокситогорский -район` to `Бокситогорский \\-район`

How I can prevent this?
I want use extended query syntax from https://docs.manticoresearch.com/latest/html/searching/extended_query_syntax.html -

[2020-05-05 13:45] Jon78 opened #190 "How to work with multiple facets in one query"
Hi,

We're trying to build a single query with multiple facets, like the one in [this example](http://sphinxsearch.com/blog/2014/05/22/the-facet-feature/).

The query should look like this:

[code]

The builder seems to accept an array, but this is made into a single facet:

[code]
When we loop through the facets array and add the individual facets we get this:

[code]
Which is somewhat closer to

[2020-05-06 12:49] Jon78 commented on #190
Managed to get it working by

- cloning the Facet-object with every facet like so

[code]
 and
- resetting the facets-array in src/Facet.php:118

Since this will probably break functionality I'll fork this repo and work from there.

[2020-09-03 16:07] Fossil01 opened #191 "Wrong parameters for Foolz\SphinxQL\Exception\DatabaseException"
[code]

My code:

[code]

The Exception is raised here:

[code]

[2020-10-05 20:31] serdartaylan opened #192 "filtering total consistent purchases"
searchd --version
Sphinx 2.2.11-id64-release (95ae9a6)

FoolCode/SphinxQL v0.9.7

Hi,

`SELECT customer_id,customer_name,SUM(amount) AS total_amount FROM orders GROUP BY customer_id ORDER BY total_amount DESC LIMIT 0, 20`

I can run such a query without any problems.

What I want is to list the ones whose total order amount is greater or less than a certain number or within a range as follows.

`S

[2020-10-06 05:19] serdartaylan commented on #192
solution with problem having
HAVING total_amount < 10000

[2020-10-06 05:19] #192 closed

[2020-11-25 12:10] kvkgroup opened #193 "php 8 support"
syntax error, unexpected token "match" in vendor/foolz/sphinxql-query-builder/src/SphinxQL.php:473

[2020-12-04 13:11] premax commented on #193
Any ideas how to fix this?

[2020-12-10 19:28] yazer79 opened #194 "Basic Query test fails"
Hi,
I am using composer installation of "foolz/sphinxql-query-builder" and a sphinx index with test result. I am trying to use this simple test php script, but I get an error:
"Fatal error: Uncaught Error: Call to undefined method Foolz\SphinxQL\SphinxQL::create()"
Any suggestions?
Windows 10 - composer 2 - PHP 7.1

[code]

[2020-12-31 22:37] alpha0010 commented on #193
https://www.php.net/manual/en/migration80.incompatible.php

The class `Foolz\SphinxQL\Match` needs to be renamed.

[2021-01-22 10:08] ben221199 commented on #193
See: https://github.com/FoolCode/SphinxQL-Query-Builder/pull/197

[2021-04-11 15:32] ben221199 commented on #193
**UPDATE:**
See: https://github.com/FoolCode/SphinxQL-Query-Builder/pull/198

[2021-04-20 20:08] Gemorroj commented on #193
@oohnoitz upd the packagist plz

[2021-04-20 22:50] oohnoitz commented on #193
3.0.0 should be out now.

[2021-04-20 22:50] #193 closed

[2021-06-01 11:18] ekr3peeK opened #200 "How to add conditions on string typed attributes?"
Is there no way to add simple where condition to `sql_attr_string` type attributes in the index?

[code]

The above code returns the following query: `SELECT testStringAttribute FROM testIndex WHERE test = test string value`

[2021-06-01 11:26] ekr3peeK commented on #200
I am dank, sorry, I made a mistake in my code somewhere!

[2021-06-01 11:26] #200 closed

[2021-08-12 13:22] #191 closed

[2021-09-23 11:09] igor-kozhevnikov-avg opened #202 "Change is_int to is_numeric."
Lines of code: https://github.com/FoolCode/SphinxQL-Query-Builder/blob/master/src/Drivers/ConnectionBase.php#L107-L108

Change

[code]

to

[code]

Values like as "1", "2" are not processed although they are numbers.

[2021-10-07 10:51] dmayzhanov commented on #194
You need to create a new instance of SphinxQL.

$query = (new SphinxQL($conn))->select('*')
    ->from('test_index')
    ->match('<your search column>', 'test');

$result = $query->execute();

[2021-10-14 10:42] milanmadar opened #203 "SphinxQL::quote() and quoteIdentifier() doesn't exist, but it's in the docs"
The [doc says](https://github.com/FoolCode/SphinxQL-Query-Builder#query-escaping):

- **$sq->escape($value)** ... But it seems it's in the Connection class, not in SphinxQL class
- **$sq->quoteIdentifier($identifier)** ... But it seems this method doesn't exist

Or i just got something wrong, in that case, im sorry

[2022-01-21 16:13] Fossil01 opened #205 "PHP 8.1 - Deprecated error in nginx logs"
[code]

[2022-01-21 16:18] Fossil01 commented on #205
I had the same error from another package which was fixed by this PR:

https://github.com/coinbase/coinbase-commerce-php/pull/53

[2022-01-21 16:28] Fossil01 commented on #205
VSCode PHP Intelephense is throwing some more errors by the way:

[code]

[2022-02-14 22:09] Fossil01 commented on #205
Anyone who could perhaps take care of this?

@oohnoitz @MaxKorlaar

[2022-02-15 09:22] MaxKorlaar commented on #205
We @scholieren can pick this up later but I can't provide an ETA.

[2022-02-24 11:08] NelinD commented on #205
@Fossil01 #204 solution?

[2022-02-24 14:55] Fossil01 commented on #205
I dunno, try it and let us know.

[2022-02-24 15:25] NelinD commented on #205
@Fossil01 It work.
I use this fork.
Need merge and release.

[2022-02-25 12:52] Fossil01 commented on #205
I see @forgie1 has a fork as well where the actual return types have been added.

https://github.com/forgie1/SphinxQL-Query-Builder/commit/ae9557ad896b3cd7850bacab39e71ad8b8f35d99

[2022-02-26 00:45] oohnoitz commented on #205
I just a release for `3.0.2` which contains #204 merged in. If that does not resolve this, then please feel free to submit a PR to help get 8.1 compatibility up.

[2022-07-13 09:57] Dgame opened #208 "Is there a way to use username/password auth.?"
As far as I can see, the username and password parameters are always `null` and there seems to be no way to set them. Is this intentional or have I overlooked something?